/* ================== RESET =================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    height: auto;

}

/* ====== FIM DO RESET ========= */

/* ================== VARIAVEIS DE ATALHO =================*/

:root {
    --header-height: 4.5rem;

    /* colors */
    --hue: 139;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);
}

/* ================== BASE =================*/

html {
    scroll-behavior: smooth;
}

body {
    font: 400 1rem 'DM Sans', sans-serif;
    color: var(--text-color);
    background-color: var(--body-color);
    -webkit-font-smoothing: antialiased;
}

.title {
    font: 700 1.775rem 'Poppins', sans-serif;
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}

main {
    margin-top: 5rem;
}

/*================ BUTTON ===================== */

.button {
    background-color: var(--base-color);
    color: var(--text-color-light);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.75rem;
    font: 500 1rem 'DM Sans', sans-serif;
    transition: 0.3s;
}

.button:hover {
    /* mudar cor do botão com mouse em cima*/
    background: var(--base-color-alt);
}

.divider-1 {
    height: 1px;
    background: linear-gradient(270deg,
            hsl(var(--hue), 36%, 57%) 0%,
            hsla(var(--hue), 65%, 88%, 0.34) 100%)
}

.divider-2 {
    height: 1px;
    background: linear-gradient(270deg,
            hsl(var(--hue), 65%, 88%) 34%,
            hsla(var(--hue), 36%, 57%) 100%)
}

/* ================== LAYOUT =================*/
.conteiner {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 2rem;
}

.section {
    padding: 4rem 0;
}

.section .title {
    margin-bottom: 1rem;
}

.section headder {
    margin-bottom: 4rem;
}

.section header strong {
    color: var(--base-color);
}

#header {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 2rem;
    display: flex;

    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);

    transition: 0.2s;

}

#header.scroll {
    box-shadow: 0 0 12px  rgba(0, 0, 0, 0.4);
}



/* =================== LOGO =================== */
.logo {
    font: 700 1.31rem 'Poppins', sans-serif;

}

.logo span {
    color: rgb(33, 185, 33);
}

/* =============== NaVIGATION =============== */

nav {
    height: var(--header-height);
    /* propriedade relativa, diferente do px */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
nav ul li {
    text-align: center;

}

nav ul li a {
    transition: color 0.2s;
    position: relative;
}

nav ul li a:hover {
    color: var(--base-color);
}

nav ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--base-color);

    position: absolute;
    left: 0;
    bottom: -0.5rem;

    transition: width 0.3s;
}
nav ul li a:hover::after {
    width: 100%;

}

nav .menu ul {
    display: none;
}

nav .menu {   /* Escondendo menu*/
    opacity: 0;
    visibility: hidden; /*impedindo o click*/
    top: -20rem;
    transition: 0.2s;

}

/* Mostrar menu */

nav.show .menu {
    display: grid;
    place-content: center;

    opacity: 1;
    visibility: visible;

    background-color: var(--body-color);

    height: 100vh; /* viewport Height 100 --- toda a tela */
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;


}

nav.show .menu ul {
    display: grid;
}

nav.show ul.grid {
    gap: 2rem;
}

.toggle {
    color: var(--base-color);
    font-size: 1.5rem;
    cursor: pointer;
}

nav .icon-close {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    right: 1.5rem;
    top: -1.5rem;
    transition: 0.2s;


}

nav.show .icon-close {
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
}

/*================ HOME ================ */

#home {
    overflow: hidden;
    margin-bottom: 4rem;
}

#home .conteiner {
    margin: 0;

}

#home .image {
    position: relative;
}

#home .image::before {
    content: '';
    height: 100%;
    width: 50%;
    background: var(--base-color-second);
    position: absolute;
    top: -16.8%;
    left: 34%;
    z-index: 0;
}

#home .image img {
    width: 14rem;
    right: -4.5rem;
    position: relative;
}

#home .image::before,
#home .image img {
    border-radius: 0.75rem;
}

#home .text {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    text-align: center;
}

#home .text h1 {
    margin-bottom: 1rem;
}

#home .text p {
    margin-bottom: 2rem;
}

/* =========== ABOUT ================ */

#about {
    background-color: white;
}

#about .conteiner {
    margin: 0;

}

#about .image {
    position: relative;
}

#about .image::before {
    content: '';
    height: 100%;
    width: 85%;
    background: var(--base-color-second);
    position: absolute;
    top: -16.8%;
    left: 14.7%;
    z-index: 0;

}

#about .image img {
    width: 24rem;
    right: 0rem;
    position: relative;
}

#about .image::before,
#about .image img {
    border-radius: 0.75rem;
    margin-top: 1rem;
}

#about .text {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    text-align: center;
}

/* =========== SERVICES ================ */
#services {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.cards.grid {
    gap: 1.5rem;
}

.card {
    padding: 3.652rem 2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-bottom: 0.25rem solid var(--base-color);
    border-radius: .25rem .25rem 0 0;
    text-align: center;
}

.card i {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 5rem;
    color: var(--base-color);
}

.card .title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

/* =========== SERVICES ================ */

#testimonials {
    background-color: white;
}

#testimonials blockquote {
    padding: 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
    border-radius: 0.25rem;
}

#testimonials blockquote p {
    position: relative;
    text-indent: 1.25rem;
    margin-bottom: 1.5rem;
    color: var(--title-color);
}

#testimonials blockquote p span {
    font: 700 2.5rem serif;
    
    position: absolute;
    top: -0.6rem;
    left: -1.7rem;
    color: var(--base-color);
}

#testimonials cite {
    display: flex;
    align-items: center;
    

}

#testimonials cite img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    clip-path: circle();
    margin-right: 0.5rem;
}

.swiper-slide {
    height: auto;
    padding: 4rem 1rem;
}

.swiper-pagination-bullet-active {
    background: var(--base-color);
}

/* ================== CONTACT =================*/

#contact .grid{
    gap: 4rem;
}
#contact .text p{
    margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
    font-size: 1.5rem;
    margin-right: 0.625rem;
}

#contact ul.grid {
    gap: 1.5rem;
}

#contact ul li {
    display: flex;
    align-items: center;
}

#contact ul li i{
    color: var(--base-color);
}
